 
/****** Object:  StoredProcedure [svo].[usp_Load_D_ACCOUNT_SCD2]    Script Date: 1/27/2026 11:30:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [svo].[usp_Load_D_ACCOUNT_SCD2]
(
      @AsOfDate date = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @AsOfDate IS NULL
        SET @AsOfDate = CAST(GETDATE() AS date);

    DECLARE @HighDate date = '9999-12-31';

    /* --------------------------
       Ensure logging exists
       -------------------------- */
    IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = 'etl')
        EXEC('CREATE SCHEMA etl AUTHORIZATION dbo;');

    IF OBJECT_ID(N'etl.ETL_RUN', 'U') IS NULL
    BEGIN
        CREATE TABLE etl.ETL_RUN
        (
              RUN_ID        bigint IDENTITY(1,1) NOT NULL CONSTRAINT PK_ETL_RUN PRIMARY KEY
            , PROC_NAME     sysname              NOT NULL
            , TARGET_OBJECT sysname              NOT NULL
            , ASOF_DATE     date                 NULL
            , START_DTTM    datetime2(0)         NOT NULL
            , END_DTTM      datetime2(0)         NULL
            , STATUS        varchar(20)          NOT NULL
            , ROW_INSERTED  int                  NULL
            , ROW_EXPIRED   int                  NULL
            , ERROR_MESSAGE nvarchar(4000)       NULL
        );
    END

    DECLARE
          @RunId        bigint
        , @Inserted     int = 0
        , @Expired      int = 0
        , @ProcName     sysname = OBJECT_SCHEMA_NAME(@@PROCID) + '.' + OBJECT_NAME(@@PROCID)
        , @TargetObject sysname = 'svo.D_ACCOUNT';

    INSERT INTO etl.ETL_RUN (PROC_NAME, TARGET_OBJECT, ASOF_DATE, START_DTTM, STATUS)
    VALUES (@ProcName, @TargetObject, @AsOfDate, SYSDATETIME(), 'STARTED');

    SET @RunId = SCOPE_IDENTITY();

    BEGIN TRY
        BEGIN TRAN;

        /* =========================================================
           1) Source snapshot (your exact logic, synonyms preserved)
              BZ_LOAD_DATE is forced non-null via COALESCE.
           ========================================================= */
        IF OBJECT_ID('tempdb..#src') IS NOT NULL DROP TABLE #src;

        SELECT DISTINCT
            ISNULL(TRIM(lvl9.VALUE),'-1') AS ACCOUNT_ID,

            COALESCE(h1.DEP31PK1VALUE,h1.DEP30PK1VALUE,h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL1_CODE,
            COALESCE(lvl1.DESCRIPTION,lvl2.DESCRIPTION,lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION)  AS ACCOUNT_LVL1_DESC,
            COALESCE(h1.DEP30PK1VALUE,h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL2_CODE,
            COALESCE(lvl2.DESCRIPTION,lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION)  AS ACCOUNT_LVL2_DESC,
            COALESCE(h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL3_CODE,
            COALESCE(lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION)  AS ACCOUNT_LVL3_DESC,
            COALESCE(h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL4_CODE,
            COALESCE(lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION)  AS ACCOUNT_LVL4_DESC,
            COALESCE(h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL5_CODE,
            COALESCE(lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION)  AS ACCOUNT_LVL5_DESC,
            COALESCE(h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL6_CODE,
            COALESCE(lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION) AS ACCOUNT_LVL6_DESC,
            COALESCE(h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE) AS ACCOUNT_LVL7_CODE,
            COALESCE(lvl7.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION) AS ACCOUNT_LVL7_DESC,
            COALESCE(h1.DEP24PK1VALUE,lvl9.VALUE)  AS ACCOUNT_LVL8_CODE,
            COALESCE(lvl8.DESCRIPTION,lvl9.DESCRIPTION) AS ACCOUNT_LVL8_DESC,
            lvl9.VALUE       AS ACCOUNT_LVL9_CODE,
            lvl9.DESCRIPTION AS ACCOUNT_LVL9_DESC,
            0                  AS ACCOUNT_DISTANCE,
            lvl9.ATTRIBUTECATEGORY AS ACCOUNT_CATEGORY,
            lvl9.ENABLEDFLAG AS ACCOUNT_ENABLED_FLAG,
            ISNULL(lvl9.STARTDATEACTIVE, '0001-01-01') AS START_DATE_ACTIVE,
            ISNULL(lvl9.ENDDATEACTIVE,  '9999-12-31') AS END_DATE_ACTIVE,
            lvl9.CREATEDBY AS CREATED_BY,
            CAST(lvl9.CREATIONDATE AS DATE) AS CREATION_DATE,

            COALESCE(CAST(H1.AddDateTime AS DATE), CAST(GETDATE() AS DATE)) AS BZ_LOAD_DATE,
            CAST(GETDATE() AS DATE) AS SV_LOAD_DATE,

            HASHBYTES('SHA2_256', CONCAT(
                ISNULL(TRIM(lvl9.VALUE),'-1'), N'|',
                COALESCE(h1.DEP31PK1VALUE,h1.DEP30PK1VALUE,h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl1.DESCRIPTION,lvl2.DESCRIPTION,lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP30PK1VALUE,h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl2.DESCRIPTION,lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP29PK1VALUE,h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl3.DESCRIPTION,lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP28PK1VALUE,h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl4.DESCRIPTION,lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP27PK1VALUE,h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl5.DESCRIPTION,lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP26PK1VALUE,h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl6.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP25PK1VALUE,h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl7.DESCRIPTION,lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                COALESCE(h1.DEP24PK1VALUE,lvl9.VALUE), N'|',
                COALESCE(lvl8.DESCRIPTION,lvl9.DESCRIPTION), N'|',
                lvl9.VALUE, N'|',
                lvl9.DESCRIPTION, N'|',
                CAST(0 AS nvarchar(10)), N'|',
                lvl9.ATTRIBUTECATEGORY, N'|',
                lvl9.ENABLEDFLAG, N'|',
                CONVERT(nvarchar(10), ISNULL(lvl9.STARTDATEACTIVE, '0001-01-01'), 120), N'|',
                CONVERT(nvarchar(10), ISNULL(lvl9.ENDDATEACTIVE,  '9999-12-31'), 120), N'|',
                lvl9.CREATEDBY, N'|',
                CONVERT(nvarchar(10), CAST(lvl9.CREATIONDATE AS DATE), 120)
            )) AS SRC_HASH
        INTO #src
        FROM bzo.GL_SegmentValueHierarchyExtractPVO h1
        INNER JOIN bzo.GL_FndTreeAndVersionVO ver1
            ON ver1.TREEVERSIONID = h1.TREEVERSIONID AND ver1.TREENAME LIKE 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl1 ON lvl1.VALUE = h1.DEP31PK1VALUE AND lvl1.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl2 ON lvl2.VALUE = h1.DEP30PK1VALUE AND lvl2.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl3 ON lvl3.VALUE = h1.DEP29PK1VALUE AND lvl3.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl4 ON lvl4.VALUE = h1.DEP28PK1VALUE AND lvl4.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl5 ON lvl5.VALUE = h1.DEP27PK1VALUE AND lvl5.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl6 ON lvl6.VALUE = h1.DEP26PK1VALUE AND lvl6.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl7 ON lvl7.VALUE = h1.DEP25PK1VALUE AND lvl7.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        INNER JOIN bzo.GL_ValueSetValuesPVO lvl8 ON lvl8.VALUE = h1.DEP24PK1VALUE AND lvl8.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        RIGHT JOIN bzo.GL_ValueSetValuesPVO lvl9 ON lvl9.VALUE = h1.DEP0PK1VALUE AND lvl9.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
        WHERE lvl9.ATTRIBUTECATEGORY = 'ACCOUNT LAMAR'
          AND lvl9.SUMMARYFLAG = 'N';

        /* 2) Current target hash */
        IF OBJECT_ID('tempdb..#tgt') IS NOT NULL DROP TABLE #tgt;

        SELECT
              t.ACCOUNT_ID,
              HASHBYTES('SHA2_256', CONCAT(
                    t.ACCOUNT_ID, N'|',
                    t.ACCOUNT_LVL1_CODE, N'|', t.ACCOUNT_LVL1_DESC, N'|',
                    t.ACCOUNT_LVL2_CODE, N'|', t.ACCOUNT_LVL2_DESC, N'|',
                    t.ACCOUNT_LVL3_CODE, N'|', t.ACCOUNT_LVL3_DESC, N'|',
                    t.ACCOUNT_LVL4_CODE, N'|', t.ACCOUNT_LVL4_DESC, N'|',
                    t.ACCOUNT_LVL5_CODE, N'|', t.ACCOUNT_LVL5_DESC, N'|',
                    t.ACCOUNT_LVL6_CODE, N'|', t.ACCOUNT_LVL6_DESC, N'|',
                    t.ACCOUNT_LVL7_CODE, N'|', t.ACCOUNT_LVL7_DESC, N'|',
                    t.ACCOUNT_LVL8_CODE, N'|', t.ACCOUNT_LVL8_DESC, N'|',
                    t.ACCOUNT_LVL9_CODE, N'|', t.ACCOUNT_LVL9_DESC, N'|',
                    CONVERT(nvarchar(10), t.ACCOUNT_DISTANCE), N'|',
                    t.ACCOUNT_CATEGORY, N'|',
                    t.ACCOUNT_ENABLED_FLAG, N'|',
                    CONVERT(nvarchar(10), t.START_DATE_ACTIVE, 120), N'|',
                    CONVERT(nvarchar(10), t.END_DATE_ACTIVE, 120), N'|',
                    t.CREATED_BY, N'|',
                    CONVERT(nvarchar(10), t.CREATION_DATE, 120)
              )) AS TGT_HASH
        INTO #tgt
        FROM svo.D_ACCOUNT t
        WHERE t.CURR_IND = 'Y'
          AND t.END_DATE = @HighDate;

        /* 3) Delta */
        IF OBJECT_ID('tempdb..#delta') IS NOT NULL DROP TABLE #delta;

        SELECT s.*
        INTO #delta
        FROM #src s
        LEFT JOIN #tgt t
            ON t.ACCOUNT_ID = s.ACCOUNT_ID
        WHERE t.ACCOUNT_ID IS NULL
           OR t.TGT_HASH <> s.SRC_HASH;

        /* 4) Expire current rows */
        UPDATE tgt
            SET
                  tgt.END_DATE     = DATEADD(day, -1, @AsOfDate)
                , tgt.CURR_IND     = 'N'
                , tgt.UDT_DATE     = SYSDATETIME()
                , tgt.SV_LOAD_DATE = CAST(GETDATE() AS date)
        FROM svo.D_ACCOUNT tgt
        INNER JOIN #delta d
            ON d.ACCOUNT_ID = tgt.ACCOUNT_ID
        WHERE tgt.CURR_IND = 'Y'
          AND tgt.END_DATE = @HighDate;

        SET @Expired = @@ROWCOUNT;

        /* 5) Insert new current rows */
        INSERT INTO svo.D_ACCOUNT
        (
              ACCOUNT_ID
            , ACCOUNT_LVL1_CODE, ACCOUNT_LVL1_DESC
            , ACCOUNT_LVL2_CODE, ACCOUNT_LVL2_DESC
            , ACCOUNT_LVL3_CODE, ACCOUNT_LVL3_DESC
            , ACCOUNT_LVL4_CODE, ACCOUNT_LVL4_DESC
            , ACCOUNT_LVL5_CODE, ACCOUNT_LVL5_DESC
            , ACCOUNT_LVL6_CODE, ACCOUNT_LVL6_DESC
            , ACCOUNT_LVL7_CODE, ACCOUNT_LVL7_DESC
            , ACCOUNT_LVL8_CODE, ACCOUNT_LVL8_DESC
            , ACCOUNT_LVL9_CODE, ACCOUNT_LVL9_DESC
            , ACCOUNT_DISTANCE
            , ACCOUNT_CATEGORY
            , ACCOUNT_ENABLED_FLAG
            , START_DATE_ACTIVE
            , END_DATE_ACTIVE
            , CREATED_BY
            , CREATION_DATE
            , EFF_DATE
            , END_DATE
            , CRE_DATE
            , UDT_DATE
            , CURR_IND
            , BZ_LOAD_DATE
            , SV_LOAD_DATE
        )
        SELECT
              d.ACCOUNT_ID
            , d.ACCOUNT_LVL1_CODE, d.ACCOUNT_LVL1_DESC
            , d.ACCOUNT_LVL2_CODE, d.ACCOUNT_LVL2_DESC
            , d.ACCOUNT_LVL3_CODE, d.ACCOUNT_LVL3_DESC
            , d.ACCOUNT_LVL4_CODE, d.ACCOUNT_LVL4_DESC
            , d.ACCOUNT_LVL5_CODE, d.ACCOUNT_LVL5_DESC
            , d.ACCOUNT_LVL6_CODE, d.ACCOUNT_LVL6_DESC
            , d.ACCOUNT_LVL7_CODE, d.ACCOUNT_LVL7_DESC
            , d.ACCOUNT_LVL8_CODE, d.ACCOUNT_LVL8_DESC
            , d.ACCOUNT_LVL9_CODE, d.ACCOUNT_LVL9_DESC
            , d.ACCOUNT_DISTANCE
            , d.ACCOUNT_CATEGORY
            , d.ACCOUNT_ENABLED_FLAG
            , d.START_DATE_ACTIVE
            , d.END_DATE_ACTIVE
            , d.CREATED_BY
            , d.CREATION_DATE
            , @AsOfDate
            , @HighDate
            , SYSDATETIME()
            , SYSDATETIME()
            , 'Y'
            , d.BZ_LOAD_DATE                -- guaranteed non-null from #src
            , CAST(GETDATE() AS date)
        FROM #delta d;

        SET @Inserted = @@ROWCOUNT;

        /* 5) Insert new current rows */
        INSERT INTO svo.D_ACCOUNT
        (
              ACCOUNT_ID
            , ACCOUNT_LVL1_CODE, ACCOUNT_LVL1_DESC
            , ACCOUNT_LVL2_CODE, ACCOUNT_LVL2_DESC
            , ACCOUNT_LVL3_CODE, ACCOUNT_LVL3_DESC
            , ACCOUNT_LVL4_CODE, ACCOUNT_LVL4_DESC
            , ACCOUNT_LVL5_CODE, ACCOUNT_LVL5_DESC
            , ACCOUNT_LVL6_CODE, ACCOUNT_LVL6_DESC
            , ACCOUNT_LVL7_CODE, ACCOUNT_LVL7_DESC
            , ACCOUNT_LVL8_CODE, ACCOUNT_LVL8_DESC
            , ACCOUNT_LVL9_CODE, ACCOUNT_LVL9_DESC
            , ACCOUNT_DISTANCE
            , ACCOUNT_CATEGORY
            , ACCOUNT_ENABLED_FLAG
            , START_DATE_ACTIVE
            , END_DATE_ACTIVE
            , CREATED_BY
            , CREATION_DATE
            , EFF_DATE
            , END_DATE
            , CRE_DATE
            , UDT_DATE
            , CURR_IND
            , BZ_LOAD_DATE
            , SV_LOAD_DATE
        )
        SELECT
              d.ACCOUNT_ID
            , d.ACCOUNT_LVL1_CODE, d.ACCOUNT_LVL1_DESC
            , d.ACCOUNT_LVL2_CODE, d.ACCOUNT_LVL2_DESC
            , d.ACCOUNT_LVL3_CODE, d.ACCOUNT_LVL3_DESC
            , d.ACCOUNT_LVL4_CODE, d.ACCOUNT_LVL4_DESC
            , d.ACCOUNT_LVL5_CODE, d.ACCOUNT_LVL5_DESC
            , d.ACCOUNT_LVL6_CODE, d.ACCOUNT_LVL6_DESC
            , d.ACCOUNT_LVL7_CODE, d.ACCOUNT_LVL7_DESC
            , d.ACCOUNT_LVL8_CODE, d.ACCOUNT_LVL8_DESC
            , d.ACCOUNT_LVL9_CODE, d.ACCOUNT_LVL9_DESC
            , d.ACCOUNT_DISTANCE
            , d.ACCOUNT_CATEGORY
            , d.ACCOUNT_ENABLED_FLAG
            , d.START_DATE_ACTIVE
            , d.END_DATE_ACTIVE
            , d.CREATED_BY
            , d.CREATION_DATE
            , @AsOfDate
            , @HighDate
            , SYSDATETIME()
            , SYSDATETIME()
            , 'Y'
            , d.BZ_LOAD_DATE
            , CAST(GETDATE() AS date)
        FROM #delta d;

        SET @Inserted = @@ROWCOUNT;

        /* =========================================================
           6) Plug row (Unknown member) - ensure exists as current
              BK = '-1', SK is IDENTITY so not supplied
           ========================================================= */
       IF NOT EXISTS (SELECT 1 FROM svo.D_ACCOUNT WHERE ACCOUNT_SK = 0)
            BEGIN
                SET IDENTITY_INSERT svo.D_ACCOUNT ON;

                INSERT INTO svo.D_ACCOUNT
                (
                      ACCOUNT_SK
                    , ACCOUNT_ID
                    , ACCOUNT_LVL1_CODE, ACCOUNT_LVL1_DESC
                    , ACCOUNT_LVL2_CODE, ACCOUNT_LVL2_DESC
                    , ACCOUNT_LVL3_CODE, ACCOUNT_LVL3_DESC
                    , ACCOUNT_LVL4_CODE, ACCOUNT_LVL4_DESC
                    , ACCOUNT_LVL5_CODE, ACCOUNT_LVL5_DESC
                    , ACCOUNT_LVL6_CODE, ACCOUNT_LVL6_DESC
                    , ACCOUNT_LVL7_CODE, ACCOUNT_LVL7_DESC
                    , ACCOUNT_LVL8_CODE, ACCOUNT_LVL8_DESC
                    , ACCOUNT_LVL9_CODE, ACCOUNT_LVL9_DESC
                    , ACCOUNT_DISTANCE
                    , ACCOUNT_CATEGORY
                    , ACCOUNT_ENABLED_FLAG
                    , START_DATE_ACTIVE
                    , END_DATE_ACTIVE
                    , CREATED_BY
                    , CREATION_DATE
                    , EFF_DATE
                    , END_DATE
                    , CRE_DATE
                    , UDT_DATE
                    , CURR_IND
                    , BZ_LOAD_DATE
                    , SV_LOAD_DATE
                )
                VALUES
                (
                      0
                    , '-1'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , '-1', 'Unknown'
                    , 0
                    , 'Unknown'
                    , 'Y'
                    , CAST('0001-01-01' AS date)
                    , CAST('9999-12-31' AS date)
                    , 'SYSTEM'
                    , CAST(GETDATE() AS date)
                    , CAST('1900-01-01' AS date)
                    , @HighDate
                    , SYSDATETIME()
                    , SYSDATETIME()
                    , 'Y'
                    , COALESCE(@AsOfDate, CAST(GETDATE() AS date))  -- BZ_LOAD_DATE must never be NULL
                    , CAST(GETDATE() AS date)
                );

                SET IDENTITY_INSERT svo.D_ACCOUNT OFF;
            END


        COMMIT;

        UPDATE etl.ETL_RUN
            SET
                  END_DTTM      = SYSDATETIME()
                , STATUS        = 'SUCCESS'
                , ROW_INSERTED  = @Inserted
                , ROW_EXPIRED   = @Expired
                , ERROR_MESSAGE = NULL
        WHERE RUN_ID = @RunId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;

        DECLARE @Err nvarchar(4000) = ERROR_MESSAGE();

        UPDATE etl.ETL_RUN
            SET
                  END_DTTM      = SYSDATETIME()
                , STATUS        = 'FAILED'
                , ROW_INSERTED  = @Inserted
                , ROW_EXPIRED   = @Expired
                , ERROR_MESSAGE = @Err
        WHERE RUN_ID = @RunId;

        ;THROW;
    END CATCH
END
