USE [DW_BronzeSilver_PROD]
GO
/****** Object:  Table [svo].[D_ACCOUNT]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_ACCOUNT](
	[ACCOUNT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [varchar](100) NOT NULL,
	[ACCOUNT_LVL1_CODE] [varchar](100) NULL,
	[ACCOUNT_LVL1_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL2_CODE] [varchar](25) NULL,
	[ACCOUNT_LVL2_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL3_CODE] [varchar](25) NULL,
	[ACCOUNT_LVL3_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL4_CODE] [varchar](150) NULL,
	[ACCOUNT_LVL4_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL5_CODE] [varchar](100) NULL,
	[ACCOUNT_LVL5_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL6_CODE] [varchar](25) NULL,
	[ACCOUNT_LVL6_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL7_CODE] [varchar](25) NULL,
	[ACCOUNT_LVL7_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL8_CODE] [varchar](150) NULL,
	[ACCOUNT_LVL8_DESC] [varchar](500) NULL,
	[ACCOUNT_LVL9_CODE] [varchar](150) NULL,
	[ACCOUNT_LVL9_DESC] [varchar](500) NULL,
	[ACCOUNT_DISTANCE] [smallint] NULL,
	[ACCOUNT_CATEGORY] [varchar](60) NULL,
	[ACCOUNT_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_AP_DISBURSEMENT_HEADER]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_AP_DISBURSEMENT_HEADER](
	[AP_DISBURSEMENT_HEADER_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CHECK_ID] [bigint] NOT NULL,
	[CHECK_DATE_SK] [int] NOT NULL,
	[CLEARED_DATE_SK] [int] NULL,
	[VOID_DATE_SK] [int] NULL,
	[PAYMENT_METHOD] [varchar](30) NOT NULL,
	[CHECK_NUMBER] [bigint] NOT NULL,
	[VOUCHER_NUM] [bigint] NULL,
	[BANK_ACCOUNT_NUM] [varchar](30) NULL,
	[AMOUNT] [decimal](29, 4) NOT NULL,
	[BASE_AMOUNT] [decimal](29, 4) NULL,
	[CLEARED_AMOUNT] [decimal](29, 4) NULL,
	[CLEARED_CHARGES_AMOUNT] [decimal](29, 4) NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AP_DISBURSEMENT_HEADER_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[D_AP_INVOICE_HEADER]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_AP_INVOICE_HEADER](
	[AP_INVOICE_HEADER_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [bigint] NOT NULL,
	[INVOICE_NUMBER] [varchar](50) NOT NULL,
	[VENDOR_SITE_SK] [bigint] NOT NULL,
	[INVOICE_DATE_SK] [int] NOT NULL,
	[GL_DATE_SK] [int] NOT NULL,
	[INVOICE_TYPE_CODE] [varchar](25) NOT NULL,
	[INVOICE_CURRENCY_CODE] [varchar](15) NOT NULL,
	[PAYMENT_CURRENCY_CODE] [varchar](15) NOT NULL,
	[APPROVAL_STATUS] [varchar](25) NOT NULL,
	[PAYMENT_STATUS_FLAG] [varchar](1) NOT NULL,
	[TERMS_DATE_SK] [int] NOT NULL,
	[INVOICE_AMOUNT] [decimal](29, 4) NOT NULL,
	[AMOUNT_PAID] [decimal](29, 4) NOT NULL,
	[DISCOUNT_AMOUNT_TAKEN] [decimal](29, 4) NOT NULL,
	[CANCELLED_AMOUNT] [decimal](29, 4) NOT NULL,
	[CANCELLED_BY] [varchar](64) NOT NULL,
	[CANCELLED_DATE_SK] [int] NOT NULL,
	[EXCLUDE_FREIGHT_FROM_DISC] [varchar](1) NOT NULL,
	[DESCRIPTION] [varchar](240) NOT NULL,
	[PAYMENT_TERMS] [varchar](30) NOT NULL,
	[CODE_COMBINATION_ID] [bigint] NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AP_INVOICE_HEADER_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_BUSINESS_OFFERING]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_BUSINESS_OFFERING](
	[BUSINESS_OFFERING_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[BUSINESS_OFFERING_ID] [varchar](100) NOT NULL,
	[BUSINESS_OFFERING_LVL1_CODE] [varchar](100) NULL,
	[BUSINESS_OFFERING_LVL1_DESC] [varchar](500) NULL,
	[BUSINESS_OFFERING_LVL2_CODE] [varchar](25) NULL,
	[BUSINESS_OFFERING_LVL2_DESC] [varchar](500) NULL,
	[BUSINESS_OFFERING_LVL3_CODE] [varchar](25) NULL,
	[BUSINESS_OFFERING_LVL3_DESC] [varchar](500) NULL,
	[BUSINESS_OFFERING_LVL4_CODE] [varchar](150) NULL,
	[BUSINESS_OFFERING_LVL4_DESC] [varchar](500) NULL,
	[BUSINESS_OFFERING_LVL5_CODE] [varchar](100) NULL,
	[BUSINESS_OFFERING_LVL5_DESC] [varchar](500) NULL,
	[BUSINESS_OFFERING_DISTANCE] [smallint] NULL,
	[BUSINESS_OFFERING_CATEGORY] [varchar](60) NULL,
	[BUSINESS_OFFERING_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BUSINESS_OFFERING_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_BUSINESS_UNIT]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_BUSINESS_UNIT](
	[BUSINESS_UNIT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[BUSINESS_UNIT_ID] [bigint] NOT NULL,
	[BUSINESS_UNIT_NAME] [varchar](240) NULL,
	[BUSINESS_UNIT_ENTERPRISE_ID] [bigint] NULL,
	[BUSINESS_UNIT_LEGAL_ENTITY_ID] [varchar](150) NULL,
	[BUSINESS_UNIT_LOCATION_ID] [bigint] NULL,
	[BUSINESS_UNIT_PRIMARY_LEDGER_ID] [varchar](150) NULL,
	[BUSINESS_UNIT_DEFAULT_CURRENCY_CODE] [varchar](150) NULL,
	[BUSINESS_UNIT_DEFAULT_SET_ID] [varchar](150) NULL,
	[BUSINESS_UNIT_ENABLED_FOR_HR_FLAG] [varchar](150) NULL,
	[BUSINESS_UNIT_STATUS] [varchar](30) NULL,
	[BUSINESS_UNIT_CREATED_BY] [varchar](64) NULL,
	[BUSINESS_UNIT_CREATION_DATE] [datetime] NULL,
	[BUSINESS_UNIT_DATE_FROM] [date] NULL,
	[BUSINESS_UNIT_DATE_TO] [date] NULL,
	[BUSINESS_UNIT_LAST_UPDATE_DATE] [datetime] NULL,
	[BUSINESS_UNIT_LAST_UPDATE_LOGIN] [varchar](32) NULL,
	[BUSINESS_UNIT_LAST_UPDATED_BY] [varchar](64) NULL,
	[FIN_BU_BUSINESS_UNIT_ID] [bigint] NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BUSINESS_UNIT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_CALENDAR]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_CALENDAR](
	[DATE_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CALENDAR_DATE] [date] NOT NULL,
	[DATE_KEY] [int] NOT NULL,
	[DAY_OF_WEEK_NUM] [tinyint] NOT NULL,
	[DAY_OF_WEEK_NAME] [varchar](10) NOT NULL,
	[DAY_OF_MONTH_NUM] [tinyint] NOT NULL,
	[DAY_OF_YEAR_NUM] [smallint] NOT NULL,
	[WEEK_OF_YEAR_NUM] [tinyint] NOT NULL,
	[ISO_YEAR_NUM] [smallint] NOT NULL,
	[MONTH_NUM] [tinyint] NOT NULL,
	[MONTH_NAME] [varchar](10) NOT NULL,
	[MONTH_START_DATE] [date] NOT NULL,
	[MONTH_END_DATE] [date] NOT NULL,
	[QUARTER_NUM] [tinyint] NOT NULL,
	[QUARTER_START_DATE] [date] NOT NULL,
	[QUARTER_END_DATE] [date] NOT NULL,
	[YEAR_NUM] [smallint] NOT NULL,
	[YEAR_START_DATE] [date] NOT NULL,
	[YEAR_END_DATE] [date] NOT NULL,
	[IS_WEEKEND] [char](1) NOT NULL,
	[FISC_PERIOD_SET_NAME] [varchar](15) NULL,
	[FISC_USER_PERIOD_SET_NAME] [varchar](15) NULL,
	[FISC_CALENDAR_ID] [bigint] NULL,
	[FISC_PERIOD_NAME] [varchar](15) NULL,
	[FISC_PERIOD_NUMBER] [bigint] NULL,
	[FISC_PERIOD_TYPE] [varchar](15) NULL,
	[FISC_PERIOD_START_DATE] [date] NULL,
	[FISC_PERIOD_END_DATE] [date] NULL,
	[FISC_ADJUSTMENT_PERIOD_FLAG] [varchar](1) NULL,
	[FISC_QUARTER_NUMBER] [bigint] NULL,
	[FISC_QUARTER_START_DATE] [date] NULL,
	[FISC_QUARTER_END_DATE] [date] NULL,
	[FISC_YEAR_NUMBER] [bigint] NULL,
	[FISC_YEAR_START_DATE] [date] NULL,
	[FISC_YEAR_END_DATE] [date] NULL,
	[FISC_DAY_OF_WEEK] [bigint] NULL,
	[JULIAN_DATE] [bigint] NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_D_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[DATE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim],
 CONSTRAINT [UX_D_CALENDAR_DATE] UNIQUE NONCLUSTERED 
(
	[CALENDAR_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_COMPANY]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_COMPANY](
	[COMPANY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPANY_ID] [varchar](100) NOT NULL,
	[COMPANY_LVL1_CODE] [varchar](100) NULL,
	[COMPANY_LVL1_DESC] [varchar](500) NULL,
	[COMPANY_LVL2_CODE] [varchar](25) NULL,
	[COMPANY_LVL2_DESC] [varchar](500) NULL,
	[COMPANY_LVL3_CODE] [varchar](25) NULL,
	[COMPANY_LVL3_DESC] [varchar](500) NULL,
	[COMPANY_LVL4_CODE] [varchar](150) NULL,
	[COMPANY_LVL4_DESC] [varchar](500) NULL,
	[COMPANY_LVL5_CODE] [varchar](100) NULL,
	[COMPANY_LVL5_DESC] [varchar](500) NULL,
	[COMPANY_LVL6_CODE] [varchar](25) NULL,
	[COMPANY_LVL6_DESC] [varchar](500) NULL,
	[COMPANY_LVL7_CODE] [varchar](25) NULL,
	[COMPANY_LVL7_DESC] [varchar](500) NULL,
	[COMPANY_DISTANCE] [smallint] NULL,
	[COMPANY_CATEGORY] [varchar](60) NULL,
	[COMPANY_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPANY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_COST_CENTER]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_COST_CENTER](
	[COST_CENTER_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[COST_CENTER_ID] [varchar](100) NOT NULL,
	[COST_CENTER_LVL1_CODE] [varchar](100) NULL,
	[COST_CENTER_LVL1_DESC] [varchar](500) NULL,
	[COST_CENTER_LVL2_CODE] [varchar](25) NULL,
	[COST_CENTER_LVL2_DESC] [varchar](500) NULL,
	[COST_CENTER_LVL3_CODE] [varchar](25) NULL,
	[COST_CENTER_LVL3_DESC] [varchar](500) NULL,
	[COST_CENTER_LVL4_CODE] [varchar](150) NULL,
	[COST_CENTER_LVL4_DESC] [varchar](500) NULL,
	[COST_CENTER_DISTANCE] [smallint] NULL,
	[COST_CENTER_CATEGORY] [varchar](60) NULL,
	[COST_CENTER_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[COST_CENTER_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_CURRENCY]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_CURRENCY](
	[CURRENCY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CURRENCY_ID] [varchar](50) NOT NULL,
	[CURRENCY_CODE_FROM] [varchar](5) NOT NULL,
	[CURRENCY_CODE_TO] [varchar](5) NOT NULL,
	[CURRENCY_CONV_DATE] [date] NOT NULL,
	[CURRENCY_CONV_RATE] [numeric](18, 4) NULL,
	[CURRENCY_CONV_TYPE] [varchar](25) NULL,
	[CURRENCY_CONV_STATUS] [varchar](1) NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_D_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CURRENCY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_GL_HEADER]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_GL_HEADER](
	[GL_HEADER_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[JE_HEADER_ID] [bigint] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[POSTED_DATE_SK] [int] NOT NULL,
	[DEFAULT_EFFECTIVE_DATE_SK] [int] NOT NULL,
	[GL_HEADER_NAME] [varchar](100) NOT NULL,
	[GL_HEADER_STATUS] [varchar](4) NOT NULL,
	[GL_HEADER_DESCRIPTION] [varchar](240) NOT NULL,
	[ACCRUAL_REV_CHANGESIGN_FLAG] [varchar](4) NOT NULL,
	[ACTUAL_FLAG] [varchar](4) NOT NULL,
	[BALANCED_JE_FLAG] [varchar](4) NOT NULL,
	[CURRENCY_CODE] [varchar](15) NOT NULL,
	[CURRENCY_CONVERSION_DATE] [date] NOT NULL,
	[CURRENCY_CONVERSION_RATE] [float] NOT NULL,
	[CURRENCY_CONVERSION_TYPE] [varchar](30) NOT NULL,
	[EXTERNAL_REFERENCE] [varchar](80) NOT NULL,
	[JE_BATCH_ID] [bigint] NOT NULL,
	[CATEGORY] [varchar](25) NOT NULL,
	[JE_SOURCE] [varchar](25) NOT NULL,
	[MULTI_CURRENCY_FLAG] [varchar](4) NOT NULL,
	[POST_CURRENCY_CODE] [varchar](10) NOT NULL,
	[POST_MULTI_CURRENCY_FLAG] [varchar](4) NOT NULL,
	[RUNNING_TOTAL_CR] [float] NOT NULL,
	[RUNNING_TOTAL_DR] [float] NOT NULL,
	[RUNNING_TOTAL_ACCOUNTED_CR] [float] NOT NULL,
	[RUNNING_TOTAL_ACCOUNTED_DR] [float] NOT NULL,
	[CR_DR_VARIANCE] [float] NOT NULL,
	[DATE_CREATED] [date] NOT NULL,
	[CREATED_BY] [varchar](32) NOT NULL,
	[CREATION_DATE] [date] NOT NULL,
	[LAST_UPDATE_DATE] [date] NOT NULL,
	[LAST_UPDATE_LOGIN] [varchar](32) NOT NULL,
	[LAST_UPDATED_BY] [varchar](64) NOT NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [char](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_D_GL_HEADER] PRIMARY KEY CLUSTERED 
(
	[GL_HEADER_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_INDUSTRY]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_INDUSTRY](
	[INDUSTRY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[INDUSTRY_ID] [varchar](100) NOT NULL,
	[INDUSTRY_LVL1_CODE] [varchar](100) NULL,
	[INDUSTRY_LVL1_DESC] [varchar](500) NULL,
	[INDUSTRY_LVL2_CODE] [varchar](25) NULL,
	[INDUSTRY_LVL2_DESC] [varchar](500) NULL,
	[INDUSTRY_LVL3_CODE] [varchar](25) NULL,
	[INDUSTRY_LVL3_DESC] [varchar](500) NULL,
	[INDUSTRY_DISTANCE] [smallint] NULL,
	[INDUSTRY_CATEGORY] [varchar](60) NULL,
	[INDUSTRY_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[INDUSTRY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_INTERCOMPANY]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_INTERCOMPANY](
	[INTERCOMPANY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[INTERCOMPANY_ID] [varchar](100) NOT NULL,
	[INTERCOMPANY_LVL1_CODE] [varchar](100) NULL,
	[INTERCOMPANY_LVL1_DESC] [varchar](500) NULL,
	[INTERCOMPANY_LVL2_CODE] [varchar](25) NULL,
	[INTERCOMPANY_LVL2_DESC] [varchar](500) NULL,
	[INTERCOMPANY_LVL3_CODE] [varchar](25) NULL,
	[INTERCOMPANY_LVL3_DESC] [varchar](500) NULL,
	[INTERCOMPANY_DISTANCE] [smallint] NULL,
	[INTERCOMPANY_CATEGORY] [varchar](60) NULL,
	[INTERCOMPANY_ENABLED_FLAG] [varchar](4) NULL,
	[START_DATE_ACTIVE] [date] NOT NULL,
	[END_DATE_ACTIVE] [date] NOT NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATION_DATE] [date] NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[INTERCOMPANY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_LEDGER]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_LEDGER](
	[LEDGER_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[LEDGER_ID] [bigint] NULL,
	[LEDGER_NAME] [varchar](240) NULL,
	[LEDGER_ACCOUNTED_PERIOD_TYPE] [varchar](100) NULL,
	[LEDGER_CHART_OF_ACCOUNTS_ID] [bigint] NULL,
	[LEDGER_CURRENCY_CODE] [varchar](15) NULL,
	[LEDGER_DESCRIPTION] [varchar](500) NULL,
	[LEDGER_CATEGORY_CODE] [varchar](100) NULL,
	[LEDGER_PERIOD_SET_NAME] [varchar](100) NULL,
	[LEDGER_SHORT_NAME] [varchar](50) NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[LEDGER_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_LEGAL_ENTITY]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_LEGAL_ENTITY](
	[LEGAL_ENTITY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[LEGAL_ENTITY_ID] [bigint] NOT NULL,
	[LEGAL_ENTITY_ENTERPRISE_ID] [int] NULL,
	[LEGAL_ENTITY_GEOGRAPHY_ID] [bigint] NULL,
	[LEGAL_ENTITY_LEGAL_EMPLOYER_FLAG] [varchar](4) NULL,
	[LEGAL_ENTITY_IDENTIFIER] [varchar](100) NULL,
	[LEGAL_ENTITY_NAME] [varchar](100) NULL,
	[LEGAL_ENTITY_OBJECT_VERSION_NUMBER] [float] NULL,
	[LEGAL_ENTITY_PARTY_ID] [bigint] NULL,
	[LEGAL_ENTITY_PSU_FLAG] [varchar](4) NULL,
	[LEGAL_ENTITY_TRANSACTING_ENTITY_FLAG] [varchar](4) NULL,
	[LEGAL_ENTITY_LAST_UPDATE_DATE] [date] NOT NULL,
	[LEGAL_ENTITY_LAST_UPDATE_LOGIN] [varchar](100) NULL,
	[LEGAL_ENTITY_LAST_UPDATED_BY] [varchar](64) NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [varchar](1) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[LEGAL_ENTITY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_PAYMENT_METHOD]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_PAYMENT_METHOD](
	[PAYMENT_METHOD_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_METHOD_ID] [varchar](30) NOT NULL,
	[PAYMENT_METHOD_NAME] [varchar](30) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [char](1) NOT NULL,
 CONSTRAINT [PK_D_PAYMENT_METHOD] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_METHOD_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_PAYMENT_TERM]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_PAYMENT_TERM](
	[PAYMENT_TERM_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_TERM_ID] [varchar](30) NOT NULL,
	[PAYMENT_TERM_NAME] [varchar](50) NOT NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
	[EFF_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[CRE_DATE] [datetime2](0) NOT NULL,
	[UDT_DATE] [datetime2](0) NOT NULL,
	[CURR_IND] [char](1) NOT NULL,
 CONSTRAINT [PK_D_PAYMENT_TERM] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_TERM_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[D_VENDOR_SITE]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[D_VENDOR_SITE](
	[VENDOR_SITE_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[VENDOR_SITE_ID] [bigint] NOT NULL,
	[VENDOR_ID] [bigint] NULL,
	[VENDOR_SITE] [varchar](240) NULL,
	[SUPPLIER_PARTY_ID] [bigint] NOT NULL,
	[VENDOR_TYPE_LOOKUP] [varchar](60) NULL,
	[PARTY_NAME] [varchar](240) NULL,
	[ADDRESS_1] [varchar](240) NULL,
	[ADDRESS_2] [varchar](240) NULL,
	[ADDRESS_3] [varchar](240) NULL,
	[CITY] [varchar](60) NULL,
	[STATE] [varchar](60) NULL,
	[POSTAL_CODE] [varchar](60) NULL,
	[POSTAL_CODE_4] [varchar](60) NULL,
	[COUNTRY_CODE] [varchar](3) NULL,
	[INVOICE_CURRENCY] [varchar](15) NULL,
	[PAYMENT_CURRENCY] [varchar](15) NULL,
	[PAY_SITE_FLAG] [varchar](1) NULL,
	[PRIMARY_PAY_SITE_FLAG] [varchar](1) NULL,
	[STATUS_FLAG] [varchar](1) NULL,
	[BZ_LOAD_DATE] [date] NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VENDOR_SITE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
) ON [FG_SilverDim]
GO
/****** Object:  Table [svo].[F_AP_AGING_SNAPSHOT]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[F_AP_AGING_SNAPSHOT](
	[AP_AGING_SNAPSHOT_PK] [bigint] IDENTITY(1,1) NOT NULL,
	[SNAPSHOT_DATE_SK] [int] NOT NULL,
	[AP_INVOICE_HEADER_SK] [bigint] NOT NULL,
	[AP_DISBURSEMENT_HEADER_SK] [bigint] NULL,
	[ACCOUNT_SK] [bigint] NOT NULL,
	[BUSINESS_OFFERING_SK] [bigint] NOT NULL,
	[COMPANY_SK] [bigint] NOT NULL,
	[COST_CENTER_SK] [bigint] NOT NULL,
	[INDUSTRY_SK] [bigint] NOT NULL,
	[INTERCOMPANY_SK] [bigint] NOT NULL,
	[LEGAL_ENTITY_SK] [bigint] NOT NULL,
	[BUSINESS_UNIT_SK] [bigint] NOT NULL,
	[VENDOR_SITE_SK] [bigint] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[INV_CURRENCY_SK] [bigint] NOT NULL,
	[PAY_CURRENCY_SK] [bigint] NOT NULL,
	[DUE_DATE_SK] [int] NULL,
	[ACCOUNTING_DATE_SK] [int] NULL,
	[PAYMENT_DOCUMENT_ID] [bigint] NOT NULL,
	[PAYMENT_NUM] [int] NULL,
	[ORIGINAL_AMOUNT] [decimal](29, 4) NOT NULL,
	[AMOUNT_PAID] [decimal](29, 4) NOT NULL,
	[AMOUNT_REMAINING] [decimal](29, 4) NOT NULL,
	[DAYS_PAST_DUE] [int] NULL,
	[AGING_BUCKET_CODE] [varchar](20) NOT NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_F_AP_AGING_SNAPSHOT] PRIMARY KEY CLUSTERED 
(
	[AP_AGING_SNAPSHOT_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[F_AP_INVOICE_LINE_DISTRIBUTION]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[F_AP_INVOICE_LINE_DISTRIBUTION](
	[AP_INVOICE_DIST_FACT_PK] [bigint] IDENTITY(1,1) NOT NULL,
	[AP_INVOICE_HEADER_SK] [bigint] NOT NULL,
	[INVOICE_ID] [bigint] NOT NULL,
	[INVOICE_LINE_NUMBER] [bigint] NULL,
	[INVOICE_DISTRIBUTION_ID] [bigint] NOT NULL,
	[DIST_INV_LINE_NUMBER] [bigint] NULL,
	[DISTRIBUTION_LINE_NUMBER] [bigint] NOT NULL,
	[DIST_ACCOUNTING_DATE_SK] [int] NOT NULL,
	[LINE_ACCOUNTING_DATE_SK] [int] NOT NULL,
	[ACCOUNT_SK] [bigint] NOT NULL,
	[BUSINESS_OFFERING_SK] [bigint] NOT NULL,
	[COMPANY_SK] [bigint] NOT NULL,
	[COST_CENTER_SK] [bigint] NOT NULL,
	[INDUSTRY_SK] [bigint] NOT NULL,
	[INTERCOMPANY_SK] [bigint] NOT NULL,
	[LEGAL_ENTITY_SK] [bigint] NOT NULL,
	[BUSINESS_UNIT_SK] [bigint] NOT NULL,
	[VENDOR_SITE_SK] [bigint] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[DISTRIBUTION_CLASS] [varchar](30) NULL,
	[DIST_DESCRIPTION] [varchar](1000) NULL,
	[LINE_DESCRIPTION] [varchar](1000) NULL,
	[DISTRIBUTION_AMOUNT] [decimal](29, 4) NOT NULL,
	[POSTED_FLAG] [varchar](1) NULL,
	[TYPE_1099] [varchar](10) NULL,
	[INV_TAX_JURIDISTION_CODE] [varchar](60) NULL,
	[INV_TAX_RATE] [decimal](29, 4) NULL,
	[LINE_TYPE_LOOKUP_CODE] [varchar](25) NULL,
	[PJC_CONTRACT_ID] [bigint] NULL,
	[PJC_CONTRACT_LINE_ID] [bigint] NULL,
	[PJC_EXPENDITURE_ITEM_DATE] [date] NULL,
	[PJC_EXPENDITURE_TYPE_ID] [bigint] NULL,
	[PJC_FUNDING_ALLOCATION_ID] [bigint] NULL,
	[PJC_ORGANIZATION_ID] [bigint] NULL,
	[PJC_PROJECT_ID] [bigint] NULL,
	[PJC_TASK_ID] [bigint] NULL,
	[PO_DISTRIBUTION_ID] [bigint] NULL,
	[DIST_LAST_UPDATE_DATE] [date] NOT NULL,
	[DIST_LAST_UPDATE_BY] [varchar](64) NOT NULL,
	[DIST_LAST_UPDATE_LOGIN] [varchar](64) NOT NULL,
	[DIST_CODE_COMBINATION_ID] [bigint] NOT NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
	[LINES_AMOUNT_debug_only] [decimal](29, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AP_INVOICE_DIST_FACT_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[F_AP_PAYMENTS]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[F_AP_PAYMENTS](
	[AP_PAYMENTS_FACT_PK] [bigint] IDENTITY(1,1) NOT NULL,
	[AP_INVOICE_PAYMENTS_ALL_CHECK_ID] [bigint] NOT NULL,
	[AP_CHECKS_ALL_CHECK_NUMBER] [varchar](60) NULL,
	[AP_INVOICE_HEADER_PK] [bigint] NOT NULL,
	[AP_DISBURSEMENT_HEADER_SK] [bigint] NOT NULL,
	[LEGAL_ENTITY_SK] [bigint] NOT NULL,
	[VENDOR_SITE_SK] [bigint] NOT NULL,
	[BUSINESS_UNIT_SK] [bigint] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[ACCOUNT_SK] [bigint] NOT NULL,
	[BUSINESS_OFFERING_SK] [bigint] NOT NULL,
	[COMPANY_SK] [bigint] NOT NULL,
	[COST_CENTER_SK] [bigint] NOT NULL,
	[INDUSTRY_SK] [bigint] NOT NULL,
	[INTERCOMPANY_SK] [bigint] NOT NULL,
	[INV_CURRENCY_SK] [bigint] NOT NULL,
	[PAY_CURRENCY_SK] [bigint] NOT NULL,
	[DUE_DATE_SK] [int] NULL,
	[ACCOUNTING_DATE_SK] [int] NULL,
	[EXCHANGE_DATE_SK] [int] NULL,
	[PAYMENT_DOCUMENT_ID] [bigint] NOT NULL,
	[AP_PAYMENT_SCHEDULES_ALL_PAYMENT_PRIORITY] [int] NULL,
	[AP_PAYMENT_SCHEDULES_ALL_PAYMENT_STATUS_FLAG] [varchar](30) NULL,
	[AP_INVOICE_PAYMENTS_ALL_POSTED_FLAG] [varchar](1) NULL,
	[AP_CHECKS_ALL_AMOUNT] [decimal](29, 4) NULL,
	[AP_INVOICE_PAYMENTS_ALL_INVOICE_PAYMENT_ID] [bigint] NULL,
	[AP_PAYMENT_SCHEDULES_ALL_PAYMENT_NUM] [int] NULL,
	[AP_PAYMENT_SCHEDULES_ALL_GROSS_AMOUNT] [decimal](29, 4) NULL,
	[AP_PAYMENT_SCHEDULES_ALL_AMOUNT_REMAINING] [decimal](29, 4) NULL,
	[AP_INVOICE_PAYMENTS_ALL_AMOUNT] [decimal](29, 4) NULL,
	[AP_INVOICE_PAYMENTS_ALL_AMOUNT_INV_CURR] [decimal](29, 4) NULL,
	[AP_PAYMENT_SCHEDULES_ALL_LAST_UPDATED_BY] [varchar](64) NULL,
	[AP_INVOICE_PAYMENTS_ALL_LAST_UPDATED_BY] [varchar](64) NULL,
	[PAYMENT_LAST_UPDATE_DATE] [date] NULL,
	[SCHEDULE_LAST_UPDATE_DATE] [date] NULL,
	[BZ_LOAD_DATE_HEADER] [date] NULL,
	[BZ_LOAD_DATE_SCHED] [date] NULL,
	[BZ_LOAD_DATE_PAID] [date] NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AP_PAYMENTS_FACT_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[F_GL_BALANCES]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[F_GL_BALANCES](
	[GL_BALANCE_PK] [bigint] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_SK] [bigint] NOT NULL,
	[BUSINESS_OFFERING_SK] [bigint] NOT NULL,
	[COMPANY_SK] [bigint] NOT NULL,
	[COST_CENTER_SK] [bigint] NOT NULL,
	[INDUSTRY_SK] [bigint] NOT NULL,
	[INTERCOMPANY_SK] [bigint] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[BALANCE_DATE_SK] [int] NOT NULL,
	[BEGIN_BALANCE_AMT] [decimal](18, 4) NULL,
	[PERIOD_ACTIVITY_AMT] [decimal](18, 4) NULL,
	[END_BALANCE_AMT] [decimal](18, 4) NULL,
	[CURRENCY_CODE] [varchar](15) NOT NULL,
	[PERIOD_NUMBER] [int] NULL,
	[CODE_COMBINATION_ID] [bigint] NULL,
	[LAST_UPDATE_DATE] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](64) NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_F_GL_BALANCES] PRIMARY KEY CLUSTERED 
(
	[GL_BALANCE_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[F_GL_LINES]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[F_GL_LINES](
	[GL_LINE_PK] [bigint] NOT NULL,
	[GL_HEADER_SK] [bigint] NOT NULL,
	[ACCOUNT_SK] [bigint] NOT NULL,
	[BUSINESS_OFFERING_SK] [bigint] NOT NULL,
	[COMPANY_SK] [bigint] NOT NULL,
	[COST_CENTER_SK] [bigint] NOT NULL,
	[CURRENCY_SK] [bigint] NOT NULL,
	[INDUSTRY_SK] [bigint] NOT NULL,
	[INTERCOMPANY_SK] [bigint] NOT NULL,
	[EFFECTIVE_DATE_SK] [int] NOT NULL,
	[LEDGER_SK] [bigint] NOT NULL,
	[LINE_NUM] [bigint] NULL,
	[DESCRIPTION] [nvarchar](1000) NULL,
	[ACCOUNTED_CR] [numeric](18, 4) NULL,
	[ACCOUNTED_DR] [numeric](18, 4) NULL,
	[AMOUNT_USD] [numeric](18, 4) NULL,
	[AMOUNT_LOCAL] [numeric](18, 4) NULL,
	[CREATED_BY] [nvarchar](32) NULL,
	[LAST_UPDATED_BY] [nvarchar](64) NULL,
	[LAST_UPDATED_DATE] [date] NULL,
	[CREATION_DATE] [date] NULL,
	[CODE_COMBINATION_ID] [bigint] NULL,
	[BZ_LOAD_DATE] [date] NOT NULL,
	[SV_LOAD_DATE] [date] NOT NULL,
 CONSTRAINT [PK_F_GL_LINES] PRIMARY KEY CLUSTERED 
(
	[GL_LINE_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
) ON [FG_SilverFact]
GO
/****** Object:  Table [svo].[LINES_CODE_COMBO_LOOKUP]    Script Date: 2/1/2026 8:36:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [svo].[LINES_CODE_COMBO_LOOKUP](
	[CODE_COMBINATION_BK] [bigint] NOT NULL,
	[COMPANY_ID] [varchar](100) NULL,
	[COMPANY_DESC] [varchar](500) NULL,
	[COSTCENTER_ID] [varchar](100) NULL,
	[COSTCENTER_DESC] [varchar](500) NULL,
	[BUSINESSOFFERING_ID] [varchar](100) NULL,
	[BUSINESSOFFERING_DESC] [varchar](500) NULL,
	[ACCOUNT_ID] [varchar](100) NULL,
	[ACCOUNT_DESC] [varchar](500) NULL,
	[INDUSTRY_ID] [varchar](100) NULL,
	[INDUSTRY_DESC] [varchar](500) NULL,
	[INTERCOMPANY_ID] [varchar](100) NULL,
	[INTERCOMPANY_DESC] [varchar](500) NULL
) ON [FG_SilverMisc]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_ACCOUNT_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_ACCOUNT_ID] ON [svo].[D_ACCOUNT]
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_BUSINESS_OFFERING_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_BUSINESS_OFFERING_ID] ON [svo].[D_BUSINESS_OFFERING]
(
	[BUSINESS_OFFERING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_BUSINESS_OFFERING_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_BUSINESS_OFFERING_ID_CURR] ON [svo].[D_BUSINESS_OFFERING]
(
	[BUSINESS_OFFERING_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_BUSINESS_UNIT_BK_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_BUSINESS_UNIT_BK_CURR] ON [svo].[D_BUSINESS_UNIT]
(
	[BUSINESS_UNIT_ID] ASC
)
WHERE ([CURR_IND]='Y')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_BUSINESS_UNIT_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_BUSINESS_UNIT_ID_CURR] ON [svo].[D_BUSINESS_UNIT]
(
	[BUSINESS_UNIT_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_CALENDAR_DATE_KEY]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_CALENDAR_DATE_KEY] ON [svo].[D_CALENDAR]
(
	[DATE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_COMPANY_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_COMPANY_ID] ON [svo].[D_COMPANY]
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_COMPANY_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_COMPANY_ID_CURR] ON [svo].[D_COMPANY]
(
	[COMPANY_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_COST_CENTER_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_COST_CENTER_ID] ON [svo].[D_COST_CENTER]
(
	[COST_CENTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_COST_CENTER_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_COST_CENTER_ID_CURR] ON [svo].[D_COST_CENTER]
(
	[COST_CENTER_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_CURRENCY_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_CURRENCY_ID] ON [svo].[D_CURRENCY]
(
	[CURRENCY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_D_GL_HEADER_LEDGER_SK_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_D_GL_HEADER_LEDGER_SK_CURR] ON [svo].[D_GL_HEADER]
(
	[LEDGER_SK] ASC,
	[CURR_IND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_GL_HEADER_JE_HEADER_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_GL_HEADER_JE_HEADER_ID] ON [svo].[D_GL_HEADER]
(
	[JE_HEADER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_GL_HEADER_JE_HEADER_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_GL_HEADER_JE_HEADER_ID_CURR] ON [svo].[D_GL_HEADER]
(
	[JE_HEADER_ID] ASC
)
WHERE ([CURR_IND]='Y')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_INDUSTRY_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_INDUSTRY_ID] ON [svo].[D_INDUSTRY]
(
	[INDUSTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_INDUSTRY_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_INDUSTRY_ID_CURR] ON [svo].[D_INDUSTRY]
(
	[INDUSTRY_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_INTERCOMPANY_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_INTERCOMPANY_ID] ON [svo].[D_INTERCOMPANY]
(
	[INTERCOMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_D_INTERCOMPANY_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_INTERCOMPANY_ID_CURR] ON [svo].[D_INTERCOMPANY]
(
	[INTERCOMPANY_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_LEDGER_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_LEDGER_ID_CURR] ON [svo].[D_LEDGER]
(
	[LEDGER_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_LEDGER_LEDGER_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_LEDGER_LEDGER_ID_CURR] ON [svo].[D_LEDGER]
(
	[LEDGER_ID] ASC
)
WHERE ([CURR_IND]='Y')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [UX_D_LEGAL_ENTITY_ID_CURR]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_D_LEGAL_ENTITY_ID_CURR] ON [svo].[D_LEGAL_ENTITY]
(
	[LEGAL_ENTITY_ID] ASC
)
WHERE ([CURR_IND]='Y' AND [END_DATE]='9999-12-31')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverDim]
GO
/****** Object:  Index [IX_F_AP_PAYMENTS_ACCT_DATE]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_F_AP_PAYMENTS_ACCT_DATE] ON [svo].[F_AP_PAYMENTS]
(
	[ACCOUNTING_DATE_SK] ASC,
	[LEGAL_ENTITY_SK] ASC,
	[BUSINESS_UNIT_SK] ASC,
	[LEDGER_SK] ASC
)
INCLUDE([AP_INVOICE_PAYMENTS_ALL_CHECK_ID],[AP_CHECKS_ALL_CHECK_NUMBER],[AP_INVOICE_PAYMENTS_ALL_AMOUNT],[AP_CHECKS_ALL_AMOUNT],[INV_CURRENCY_SK],[PAY_CURRENCY_SK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
/****** Object:  Index [IX_F_AP_PAYMENTS_CHECK]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_F_AP_PAYMENTS_CHECK] ON [svo].[F_AP_PAYMENTS]
(
	[AP_INVOICE_PAYMENTS_ALL_CHECK_ID] ASC
)
INCLUDE([AP_CHECKS_ALL_CHECK_NUMBER],[AP_INVOICE_PAYMENTS_ALL_INVOICE_PAYMENT_ID],[ACCOUNTING_DATE_SK],[LEGAL_ENTITY_SK],[BUSINESS_UNIT_SK],[LEDGER_SK],[AP_INVOICE_PAYMENTS_ALL_AMOUNT],[AP_CHECKS_ALL_AMOUNT]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
/****** Object:  Index [UX_F_AP_PAYMENTS_INVOICE_PAYMENT_ID]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_F_AP_PAYMENTS_INVOICE_PAYMENT_ID] ON [svo].[F_AP_PAYMENTS]
(
	[AP_INVOICE_PAYMENTS_ALL_INVOICE_PAYMENT_ID] ASC
)
INCLUDE([AP_INVOICE_HEADER_PK],[AP_DISBURSEMENT_HEADER_SK],[AP_INVOICE_PAYMENTS_ALL_CHECK_ID],[ACCOUNTING_DATE_SK],[LEGAL_ENTITY_SK],[BUSINESS_UNIT_SK],[LEDGER_SK],[AP_INVOICE_PAYMENTS_ALL_AMOUNT],[AP_CHECKS_ALL_AMOUNT]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_F_GL_BALANCES_NK]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_F_GL_BALANCES_NK] ON [svo].[F_GL_BALANCES]
(
	[LEDGER_SK] ASC,
	[BALANCE_DATE_SK] ASC,
	[CODE_COMBINATION_ID] ASC,
	[CURRENCY_CODE] ASC,
	[PERIOD_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
/****** Object:  Index [IX_F_GL_LINES_EFFDT_ACCTSK_COSK_ETC]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE NONCLUSTERED INDEX [IX_F_GL_LINES_EFFDT_ACCTSK_COSK_ETC] ON [svo].[F_GL_LINES]
(
	[EFFECTIVE_DATE_SK] ASC,
	[ACCOUNT_SK] ASC,
	[COMPANY_SK] ASC,
	[BUSINESS_OFFERING_SK] ASC,
	[INDUSTRY_SK] ASC,
	[COST_CENTER_SK] ASC,
	[INTERCOMPANY_SK] ASC
)
INCLUDE([DESCRIPTION],[ACCOUNTED_CR],[ACCOUNTED_DR],[AMOUNT_USD],[AMOUNT_LOCAL]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
/****** Object:  Index [UX_F_GL_LINES_GL_LINE_PK]    Script Date: 2/1/2026 8:36:58 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_F_GL_LINES_GL_LINE_PK] ON [svo].[F_GL_LINES]
(
	[GL_LINE_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [FG_SilverFact]
GO
ALTER TABLE [svo].[D_ACCOUNT] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_ACCOUNT] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_ACCOUNT] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_ACCOUNT] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_ACCOUNT] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_AP_DISBURSEMENT_HEADER] ADD  DEFAULT ((1)) FOR [PAYMENT_METHOD]
GO
ALTER TABLE [svo].[D_AP_DISBURSEMENT_HEADER] ADD  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_OFFERING] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_OFFERING] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_OFFERING] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_OFFERING] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_OFFERING] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_BUSINESS_UNIT] ADD  CONSTRAINT [DF_D_BUSINESS_UNIT_EFF_DATE]  DEFAULT (CONVERT([date],'0001-01-01')) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_UNIT] ADD  CONSTRAINT [DF_D_BUSINESS_UNIT_END_DATE]  DEFAULT (CONVERT([date],'9999-12-31')) FOR [END_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_UNIT] ADD  CONSTRAINT [DF_D_BUSINESS_UNIT_CRE_DATE]  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_UNIT] ADD  CONSTRAINT [DF_D_BUSINESS_UNIT_UDT_DATE]  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_BUSINESS_UNIT] ADD  CONSTRAINT [DF_D_BUSINESS_UNIT_CURR_IND]  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_CALENDAR] ADD  CONSTRAINT [DF_D_CALENDAR_BZ_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [BZ_LOAD_DATE]
GO
ALTER TABLE [svo].[D_CALENDAR] ADD  CONSTRAINT [DF_D_CALENDAR_SV_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_COMPANY] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_COMPANY] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_COMPANY] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_COMPANY] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_COMPANY] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_COST_CENTER] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_COST_CENTER] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_COST_CENTER] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_COST_CENTER] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_COST_CENTER] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_CURRENCY] ADD  CONSTRAINT [DF_D_CURRENCY_BZ_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [BZ_LOAD_DATE]
GO
ALTER TABLE [svo].[D_CURRENCY] ADD  CONSTRAINT [DF_D_CURRENCY_SV_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_EFF_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_END_DATE]  DEFAULT (CONVERT([date],'9999-12-31')) FOR [END_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_CRE_DATE]  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_UDT_DATE]  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_CURR_IND]  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_BZ_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [BZ_LOAD_DATE]
GO
ALTER TABLE [svo].[D_GL_HEADER] ADD  CONSTRAINT [DF_D_GL_HEADER_SV_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_INDUSTRY] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_INDUSTRY] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_INDUSTRY] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_INDUSTRY] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_INDUSTRY] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_INTERCOMPANY] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_INTERCOMPANY] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_INTERCOMPANY] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_INTERCOMPANY] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_INTERCOMPANY] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_LEDGER] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_LEDGER] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_LEDGER] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_LEDGER] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_LEDGER] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_LEGAL_ENTITY] ADD  DEFAULT (CONVERT([date],getdate())) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_LEGAL_ENTITY] ADD  DEFAULT ('9999-12-31') FOR [END_DATE]
GO
ALTER TABLE [svo].[D_LEGAL_ENTITY] ADD  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_LEGAL_ENTITY] ADD  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_LEGAL_ENTITY] ADD  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  CONSTRAINT [DF_D_PAYMENT_METHOD_EFF_DATE]  DEFAULT (CONVERT([date],'0001-01-01')) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  CONSTRAINT [DF_D_PAYMENT_METHOD_END_DATE]  DEFAULT (CONVERT([date],'9999-12-31')) FOR [END_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  CONSTRAINT [DF_D_PAYMENT_METHOD_CRE_DATE]  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  CONSTRAINT [DF_D_PAYMENT_METHOD_UDT_DATE]  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_METHOD] ADD  CONSTRAINT [DF_D_PAYMENT_METHOD_CURR_IND]  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  CONSTRAINT [DF_D_PAYMENT_TERM_EFF_DATE]  DEFAULT (CONVERT([date],'0001-01-01')) FOR [EFF_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  CONSTRAINT [DF_D_PAYMENT_TERM_END_DATE]  DEFAULT (CONVERT([date],'9999-12-31')) FOR [END_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  CONSTRAINT [DF_D_PAYMENT_TERM_CRE_DATE]  DEFAULT (sysdatetime()) FOR [CRE_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  CONSTRAINT [DF_D_PAYMENT_TERM_UDT_DATE]  DEFAULT (sysdatetime()) FOR [UDT_DATE]
GO
ALTER TABLE [svo].[D_PAYMENT_TERM] ADD  CONSTRAINT [DF_D_PAYMENT_TERM_CURR_IND]  DEFAULT ('Y') FOR [CURR_IND]
GO
ALTER TABLE [svo].[F_AP_PAYMENTS] ADD  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
ALTER TABLE [svo].[F_GL_LINES] ADD  CONSTRAINT [DF_F_GL_LINES_BZ_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [BZ_LOAD_DATE]
GO
ALTER TABLE [svo].[F_GL_LINES] ADD  CONSTRAINT [DF_F_GL_LINES_SV_LOAD_DATE]  DEFAULT (CONVERT([date],getdate())) FOR [SV_LOAD_DATE]
GO
